@charset "UTF-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

body {
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
  display: block;
  margin: 20px auto;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    hsl(273, 75%, 66%) 0%,
    hsl(240, 73%, 65%) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* For mobile phones: */
#container {
  width: 310px;
  height: auto;
  margin: 150px auto 20px;
  padding: 0 15px 0 15px;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.21);
}

/* Image */
#imgWomanMobile {
  margin-top: -110px;
  margin-left: -30px;
}

#imgPatternMobile {
  margin-top: -110px;
}

#imgWomanDesktop {
  display: none;
}

#imgPatternDesktop {
  display: none;
}

/* Text */
h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  color: hsl(237, 12%, 33%);
  font-size: 12px;
}

hr {
  color: hsl(240, 5%, 91%);
}

/* Questions */
.FAQ-QUESTIONS {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  border: none;
  background-color: #fff;
}

.hidden-answer {
  display: none;
  text-align: left;
  line-height: 20px;
}

.hidden-answer.visible {
  display: block;
}

.clicked {
  color: black;
  font-weight: 700;
}

.QAContainer {
  margin: 10px 0 10px 0;
}

.space {
  height: 50px;
}

/* Arrow */
img .arrowButton {
  justify-content: end;
}

.upsidedown {
  transform: rotate(180deg);
}

@media only screen and (min-width: 800px) {
  #container {
    width: 600px;
    height: auto;
  }

  /* Image */
  #imgWomanMobile {
    display: none;
  }

  #imgPatternMobile {
    display: none;
  }

  #imgWomanDesktop {
    display: block;
    margin-left: -100px;
  }

  #imgPatternDesktop {
    display: block;
    margin-left: -100px;
    margin-top: -400px;
    width: 500px;
    height: 500px;
  }

  /* Text */
  h1 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: right;
  }

  p {
    color: hsl(237, 12%, 33%);
    font-size: 12px;
  }

  hr {
    color: hsl(240, 5%, 91%);
  }
}
