@charset "UTF-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
  display: block;
  margin: 20px auto;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    hsl(273, 75%, 66%) 0%,
    hsl(240, 73%, 65%) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* For mobile phones: */
