@charset "UTF-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

body {
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
  display: block;
  margin: 20px auto;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    hsl(273, 75%, 66%) 0%,
    hsl(240, 73%, 65%) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* For mobile phones: */

#container {
  width: 310px;
  height: 450px;
  /* height: auto; */
  margin: 150px auto 20px;
  padding: 0 15px 0 15px;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.21);
}

/* Image */
#imgWomanMobile {
  margin-top: -110px;
  margin-left: -30px;
}

#imgPatternMobile {
  margin-top: -110px;
}

/* Text */
h1 {
  margin-top: 30px;
}

p {
  color: hsl(237, 12%, 33%);
  font-size: 12px;
}

hr {
  color: hsl(240, 5%, 91%);
}

.FAQ-QUESTIONS {
  display: flex;
  flex-direction: row;
  border: none;
  background-color: #fff;
}

/* .arrowButton {
  
} */

/* @media only screen and (min-width: 1440px) */
